<a href="https://www.dgl.ai/">
    <img src="https://www.dgl.ai/assets/images/logo.png" alt="DGL logo" title="DGL" align="right" height="40" />
</a>

# DGL 

- **Framework Agnostic**:  
    Build your models with PyTorch, TensorFlow or Apache MXNet.
- **Efficient And Scalable**:  
    Fast and memory-efficient message passing primitives for training Graph Neural Networks. Scale to giant graphs via multi-GPU acceleration and distributed training infrastructure.

# How to create Graph in DGL
- DGL works with local ids, so you need to create an autoincrement id starting from zero for each node type.
- You need canonical edge types composed of (source node, edge type, target node) and to create relations for an edge you have to create a tensor of source nodes and a parallel tensor of target nodes.
- DGL works with tensor as node features so you need to convert string, categorical, ecc

# BUSINESS

In [1]:
import pandas as pd

business_df = pd.read_csv('neo4j_csvs/business.csv')

/var/folders/r3/89932hws5rg2xwsqck66y26r0000gp/T/ipykernel_3155/1321394659.py:3: DtypeWarning: Columns (91,92,94,95,96,97,98,99,100) have mixed types. Specify dtype option on import or set low_memory=False.
  business_df = pd.read_csv('neo4j_csvs/business.csv')

In [2]:
business_df[business_df[business_df.columns[91:]].notna().any(axis='columns')][business_df.columns[91:]]

,attributes_Open24Hours,attributes_RestaurantsCounterService,attributes_AgesAllowed,attributes_DietaryRestrictions_dairy-free,attributes_DietaryRestrictions_gluten-free,attributes_DietaryRestrictions_vegan,attributes_DietaryRestrictions_kosher,attributes_DietaryRestrictions_halal,attributes_DietaryRestrictions_soy-free,attributes_DietaryRestrictions_vegetarian
1450,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3735,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4774,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6034,NaN,NaN,21plus,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6610,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
146171,NaN,NaN,allages,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146496,NaN,NaN,allages,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147578,NaN,NaN,NaN,False,True,False,False,False,False,True
148988,NaN,NaN,21plus,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149306,NaN,NaN,allages,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
business_df[business_df['attributes_Open24Hours'].notna()][business_df.columns[91:]]

,attributes_Open24Hours,attributes_RestaurantsCounterService,attributes_AgesAllowed,attributes_DietaryRestrictions_dairy-free,attributes_DietaryRestrictions_gluten-free,attributes_DietaryRestrictions_vegan,attributes_DietaryRestrictions_kosher,attributes_DietaryRestrictions_halal,attributes_DietaryRestrictions_soy-free,attributes_DietaryRestrictions_vegetarian
1450,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4774,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6610,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9451,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11880,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19351,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20891,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24885,False,True,NaN,True,True,True,False,False,True,True
28436,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30361,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30574,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31641,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33720,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37381,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39548,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39945,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42413,False,True,NaN,True,True,True,False,False,True,True
52907,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65954,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66831,False,True,NaN,True,True,True,False,False,True,True
69013,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75430,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76984,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81015,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83076,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91559,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93292,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94624,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95163,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98706,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102809,False,NaN,NaN,False,False,True,False,False,False,True
107431,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110601,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119195,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124809,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125697,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129721,True,True,NaN,False,False,True,False,False,False,True
133326,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143028,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
for column in business_df.columns:
    print(f'{column} has {len(business_df[business_df[column].notna()])} not na values')

:LABEL has 150243 not na values
business_id:ID has 150243 not na values
name has 150243 not na values
address has 145117 not na values
city has 150243 not na values
state has 150243 not na values
postal_code has 150170 not na values
latitude has 150243 not na values
longitude has 150243 not na values
stars has 150243 not na values
review_count has 150243 not na values
is_open has 150243 not na values
attributes_ByAppointmentOnly has 42299 not na values
categories has 150243 not na values
attributes_BusinessAcceptsCreditCards has 119692 not na values
hours_Monday has 114474 not na values
hours_Tuesday has 120631 not na values
hours_Wednesday has 123771 not na values
hours_Thursday has 125198 not na values
hours_Friday has 124999 not na values
hours_Saturday has 110770 not na values
attributes_BikeParking has 72558 not na values
attributes_RestaurantsPriceRange2 has 85280 not na values
attributes_CoatCheck has 5580 not na values
attributes_RestaurantsTakeOut has 57751 not na values
attributes_RestaurantsDelivery has 52333 not na values
attributes_Caters has 40067 not na values
attributes_WiFi has 56864 not na values
attributes_BusinessParking_garage has 86885 not na values
attributes_BusinessParking_street has 85474 not na values
attributes_BusinessParking_validated has 86654 not na values
attributes_BusinessParking_lot has 86516 not na values
attributes_BusinessParking_valet has 88795 not na values
attributes_WheelchairAccessible has 28926 not na values
attributes_HappyHour has 15169 not na values
attributes_OutdoorSeating has 46920 not na values
attributes_HasTV has 45065 not na values
attributes_RestaurantsReservations has 44959 not na values
attributes_DogsAllowed has 18258 not na values
hours_Sunday has 81172 not na values
attributes_Alcohol has 43151 not na values
attributes_GoodForKids has 53347 not na values
attributes_RestaurantsAttire has 39217 not na values
attributes_RestaurantsTableService has 19967 not na values
attributes_RestaurantsGoodForGroups has 44149 not na values
attributes_DriveThru has 7005 not na values
attributes_NoiseLevel has 37954 not na values
attributes_Ambience_romantic has 40392 not na values
attributes_Ambience_intimate has 39486 not na values
attributes_Ambience_touristy has 40081 not na values
attributes_Ambience_hipster has 39325 not na values
attributes_Ambience_divey has 38271 not na values
attributes_Ambience_classy has 40135 not na values
attributes_Ambience_trendy has 38401 not na values
attributes_Ambience_upscale has 40812 not na values
attributes_Ambience_casual has 41514 not na values
attributes_GoodForMeal_dessert has 24191 not na values
attributes_GoodForMeal_latenight has 25040 not na values
attributes_GoodForMeal_lunch has 26389 not na values
attributes_GoodForMeal_dinner has 27432 not na values
attributes_GoodForMeal_brunch has 25186 not na values
attributes_GoodForMeal_breakfast has 26325 not na values
attributes_BusinessAcceptsBitcoin has 17427 not na values
attributes_Smoking has 4553 not na values
attributes_Music_dj has 6714 not na values
attributes_Music_background_music has 7068 not na values
attributes_Music_no_music has 6858 not na values
attributes_Music_jukebox has 6188 not na values
attributes_Music_live has 6733 not na values
attributes_Music_video has 7070 not na values
attributes_Music_karaoke has 5790 not na values
attributes_GoodForDancing has 4628 not na values
attributes_AcceptsInsurance has 5705 not na values
attributes_BestNights_monday has 5683 not na values
attributes_BestNights_tuesday has 5683 not na values
attributes_BestNights_friday has 5683 not na values
attributes_BestNights_wednesday has 5683 not na values
attributes_BestNights_thursday has 5683 not na values
attributes_BestNights_sunday has 5683 not na values
attributes_BestNights_saturday has 5683 not na values
attributes_BYOB has 4439 not na values
attributes_Corkage has 3542 not na values
attributes_BYOBCorkage has 1439 not na values
attributes_HairSpecializesIn_straightperms has 1002 not na values
attributes_HairSpecializesIn_coloring has 1035 not na values
attributes_HairSpecializesIn_extensions has 1035 not na values
attributes_HairSpecializesIn_africanamerican has 1002 not na values
attributes_HairSpecializesIn_curly has 1035 not na values
attributes_HairSpecializesIn_kids has 1035 not na values
attributes_HairSpecializesIn_perms has 1035 not na values
attributes_HairSpecializesIn_asian has 1002 not na values
attributes_Open24Hours has 39 not na values
attributes_RestaurantsCounterService has 19 not na values
attributes_AgesAllowed has 129 not na values
attributes_DietaryRestrictions_dairy-free has 30 not na values
attributes_DietaryRestrictions_gluten-free has 30 not na values
attributes_DietaryRestrictions_vegan has 30 not na values
attributes_DietaryRestrictions_kosher has 30 not na values
attributes_DietaryRestrictions_halal has 30 not na values
attributes_DietaryRestrictions_soy-free has 30 not na values
attributes_DietaryRestrictions_vegetarian has 30 not na values

In [ ]:
business_df[business_df['hours_Monday'] == '0:0-0:0']

,:LABEL,business_id:ID,name,address,city,state,postal_code,latitude,longitude,stars,...,attributes_Open24Hours,attributes_RestaurantsCounterService,attributes_AgesAllowed,attributes_DietaryRestrictions_dairy-free,attributes_DietaryRestrictions_gluten-free,attributes_DietaryRestrictions_vegan,attributes_DietaryRestrictions_kosher,attributes_DietaryRestrictions_halal,attributes_DietaryRestrictions_soy-free,attributes_DietaryRestrictions_vegetarian
1,Business,e1a902b3497f013225f4691a03c73a5a,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Business,97afb2dd310b6f8dc03661b02e238f44,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Business,157f5d3a749df51fb2aad74b847bec8f,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Business,adf64e8146738216c0254e000104ff40,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Business,52c05d51afefedf1239001b0a88c2a35,Arizona Truck Outfitters,625 N Stone Ave,Tucson,AZ,85705,32.229872,-110.972342,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150224,Business,78b8a641701e1143f4316ccf1b2b4da7,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150225,Business,8ff52776e781f588f68501a7f5463394,Savaya Coffee Market,11177 N Oracle Rd,Oro Valley,AZ,85737,32.409552,-110.943073,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150228,Business,89c93a2c4d1794a3a148ac342811a021,La Quinta by Wyndham NW Tucson Marana,6020 West Hospitality Rd,Tucson,AZ,85743,32.358587,-111.093308,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150232,Business,d9b77f4bee2703acefba3539f8b0c038,St. Vincent Heart Center of Indiana,10580 N Meridian St,Indianapolis,IN,46290,39.939489,-86.159502,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150236,Business,0d244d82faf7a344ec4dbea5b91c46fd,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

All the hours_(Monday, Tuesday, ...) are dropped (not useful and difficult to preprocess)  
Columns below are representend also has category in the graph:
- attributes_DietaryRestrictions_dairy-free 30 not na values
- attributes_DietaryRestrictions_gluten-free 30 not na values
- attributes_DietaryRestrictions_vegan 30 not na values
- attributes_DietaryRestrictions_kosher 30 not na values
- attributes_DietaryRestrictions_halal 30 not na values
- attributes_DietaryRestrictions_soy-free 30 not na values
- attributes_DietaryRestrictions_vegetarian 30 not na values
- attributes_AgesAllowed 129 not na values

attributes_Open24Hours has only 39 not na values  
attributes_RestaurantsCounterService has only 19 not na values

In [ ]:
new_columns = [c for c in business_df.columns if not c.startswith('hours_') and len(business_df[business_df[c].notna()]) > 1000]

In [ ]:
len(new_columns)

84

In [ ]:
business_df['is_open'].value_counts()

1    119603
0     30640
Name: is_open, dtype: int64

Other columns to delete = :LABEL, name, address, city, state, postal_code  
For location information, we will exploit only lat and long information  
Categories are now represented as nodes and relationships so not needed has attribute in business nodes

In [ ]:
new_columns.remove(":LABEL")
new_columns.remove("name")
new_columns.remove("address")
new_columns.remove("city")
new_columns.remove("state")
new_columns.remove("postal_code")
new_columns.remove("categories")

In [ ]:
business_df = business_df[new_columns]

In [ ]:
business_df[business_df[business_df.columns[6:]].isna().all(axis='columns')] # comunque utili perchÃ© collegano persone e recensioni

,business_id:ID,latitude,longitude,stars,review_count,is_open,attributes_ByAppointmentOnly,attributes_BusinessAcceptsCreditCards,attributes_BikeParking,attributes_RestaurantsPriceRange2,...,attributes_Corkage,attributes_BYOBCorkage,attributes_HairSpecializesIn_straightperms,attributes_HairSpecializesIn_coloring,attributes_HairSpecializesIn_extensions,attributes_HairSpecializesIn_africanamerican,attributes_HairSpecializesIn_curly,attributes_HairSpecializesIn_kids,attributes_HairSpecializesIn_perms,attributes_HairSpecializesIn_asian
7,52089d3eabd5e01def1dbd58371fd535,27.766590,-82.732983,3.5,5,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,b84fa11605acdd39d6340ebabaf22e8d,29.981183,-90.254012,3.5,14,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,00e9a293efa268552d3ba1c071b2eb6d,40.273493,-74.987496,5.0,15,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,5695efa60b7d3cc2d7bc3a183e9248cc,39.915478,-75.016973,5.0,5,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,6f836275fc1cfb1e166ae4add2bd756a,39.969300,-86.165002,5.0,7,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150197,8f2ecc32a7880b1f27cd160faa3b3c3d,30.022340,-90.052255,4.0,5,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150199,a14231611eb1dfef3e6ffb26934ea0d5,39.631153,-86.085342,4.0,17,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150205,30b22766a0965b000632028bbeb94bf9,40.021346,-74.932089,3.5,5,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150229,a88d09d968d3de8a0707fbb7e6f04d0e,53.513215,-113.328680,5.0,5,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150234,708eb8521840f8969e7fe9b0372e7a1a,39.857700,-74.987230,4.0,5,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print(business_df.dtypes)

business_id:ID                                   object
latitude                                        float64
longitude                                       float64
stars                                           float64
review_count                                      int64
                                                 ...
attributes_HairSpecializesIn_africanamerican     object
attributes_HairSpecializesIn_curly               object
attributes_HairSpecializesIn_kids                object
attributes_HairSpecializesIn_perms               object
attributes_HairSpecializesIn_asian               object
Length: 77, dtype: object

Useful query to check ratio
```
MATCH (n:Business)--(c:Category)  
WITH c.name as name, collect(COALESCE(n.attributes_ByAppointmentOnly, "null")) as allapp  
RETURN name, 
    size([x in allapp WHERE x = "null"]) as null1,
    size([x in allapp WHERE x = "True"]) as True1,
    size([x in allapp WHERE x = "False"]) as False1,
    toFloat(size([x in allapp WHERE x = "null"])) / size(allapp) as ratio ORDER BY ratio DESC
```

Missing values logic:
- attributes_BusinessAcceptsCreditCards  -> true
- others = -1

In [ ]:
business_df['attributes_BusinessAcceptsCreditCards'].fillna(True, inplace=True)

In [ ]:
print(business_df.dtypes)

business_id:ID                                   object
latitude                                        float64
longitude                                       float64
stars                                           float64
review_count                                      int64
                                                 ...
attributes_HairSpecializesIn_africanamerican     object
attributes_HairSpecializesIn_curly               object
attributes_HairSpecializesIn_kids                object
attributes_HairSpecializesIn_perms               object
attributes_HairSpecializesIn_asian               object
Length: 77, dtype: object

In [ ]:
print(business_df['attributes_RestaurantsPriceRange2'].dtypes)

float64

In [ ]:
pd.get_dummies(business_df[['attributes_ByAppointmentOnly']])

        attributes_ByAppointmentOnly_False  attributes_ByAppointmentOnly_True
0                                        0                                  1
1                                        0                                  0
2                                        1                                  0
3                                        1                                  0
4                                        0                                  0
...                                    ...                                ...
150238                                   1                                  0
150239                                   0                                  0
150240                                   0                                  0
150241                                   0                                  0
150242                                   1                                  0

[150243 rows x 2 columns]

In [ ]:
for column in business_df.columns:
    print(f'{column} is a {business_df[column].dtype}')

business_id:ID is a object
latitude is a float64
longitude is a float64
stars is a float64
review_count is a int64
is_open is a int64
attributes_ByAppointmentOnly is a object
attributes_BusinessAcceptsCreditCards is a bool
attributes_BikeParking is a object
attributes_RestaurantsPriceRange2 is a float64
attributes_CoatCheck is a object
attributes_RestaurantsTakeOut is a object
attributes_RestaurantsDelivery is a object
attributes_Caters is a object
attributes_WiFi is a object
attributes_BusinessParking_garage is a object
attributes_BusinessParking_street is a object
attributes_BusinessParking_validated is a object
attributes_BusinessParking_lot is a object
attributes_BusinessParking_valet is a object
attributes_WheelchairAccessible is a object
attributes_HappyHour is a object
attributes_OutdoorSeating is a object
attributes_HasTV is a object
attributes_RestaurantsReservations is a object
attributes_DogsAllowed is a object
attributes_Alcohol is a object
attributes_GoodForKids is a object
attributes_RestaurantsAttire is a object
attributes_RestaurantsTableService is a object
attributes_RestaurantsGoodForGroups is a object
attributes_DriveThru is a object
attributes_NoiseLevel is a object
attributes_Ambience_romantic is a object
attributes_Ambience_intimate is a object
attributes_Ambience_touristy is a object
attributes_Ambience_hipster is a object
attributes_Ambience_divey is a object
attributes_Ambience_classy is a object
attributes_Ambience_trendy is a object
attributes_Ambience_upscale is a object
attributes_Ambience_casual is a object
attributes_GoodForMeal_dessert is a object
attributes_GoodForMeal_latenight is a object
attributes_GoodForMeal_lunch is a object
attributes_GoodForMeal_dinner is a object
attributes_GoodForMeal_brunch is a object
attributes_GoodForMeal_breakfast is a object
attributes_BusinessAcceptsBitcoin is a object
attributes_Smoking is a object
attributes_Music_dj is a object
attributes_Music_background_music is a object
attributes_Music_no_music is a object
attributes_Music_jukebox is a object
attributes_Music_live is a object
attributes_Music_video is a object
attributes_Music_karaoke is a object
attributes_GoodForDancing is a object
attributes_AcceptsInsurance is a object
attributes_BestNights_monday is a object
attributes_BestNights_tuesday is a object
attributes_BestNights_friday is a object
attributes_BestNights_wednesday is a object
attributes_BestNights_thursday is a object
attributes_BestNights_sunday is a object
attributes_BestNights_saturday is a object
attributes_BYOB is a object
attributes_Corkage is a object
attributes_BYOBCorkage is a object
attributes_HairSpecializesIn_straightperms is a object
attributes_HairSpecializesIn_coloring is a object
attributes_HairSpecializesIn_extensions is a object
attributes_HairSpecializesIn_africanamerican is a object
attributes_HairSpecializesIn_curly is a object
attributes_HairSpecializesIn_kids is a object
attributes_HairSpecializesIn_perms is a object
attributes_HairSpecializesIn_asian is a object

all columns will be converted to dummies except:
- business_id:ID
- latitude
- longitude
- stars
- review_count
- is_open
- attributes_BusinessAcceptsCreditCards
- attributes_RestaurantsPriceRange2

In [ ]:
float_columns = ['latitude', 'longitude', 'stars', 'review_count', 'is_open', 'attributes_BusinessAcceptsCreditCards', 'attributes_RestaurantsPriceRange2']
list_of_dummies_columns = list(set(business_df.columns) - set(['business_id:ID', *float_columns]))

In [ ]:
dummies = pd.get_dummies(business_df[list_of_dummies_columns])

In [ ]:
dummies

,attributes_CoatCheck_False,attributes_CoatCheck_True,attributes_AcceptsInsurance_False,attributes_AcceptsInsurance_True,attributes_Ambience_trendy_False,attributes_Ambience_trendy_True,attributes_WheelchairAccessible_False,attributes_WheelchairAccessible_True,attributes_RestaurantsTableService_False,attributes_RestaurantsTableService_True,...,attributes_RestaurantsAttire_casual,attributes_RestaurantsAttire_dressy,attributes_RestaurantsAttire_formal,attributes_WiFi_free,attributes_WiFi_no,attributes_WiFi_paid,attributes_BestNights_thursday_False,attributes_BestNights_thursday_True,attributes_BusinessParking_street_False,attributes_BusinessParking_street_True
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150238,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
150240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
150242,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0

In [ ]:
floats = business_df[float_columns].fillna(-1).astype(float)

In [ ]:
business_features = pd.concat([floats, dummies], axis=1).astype(float)

In [ ]:
business_features

,latitude,longitude,stars,review_count,is_open,attributes_BusinessAcceptsCreditCards,attributes_RestaurantsPriceRange2,attributes_CoatCheck_False,attributes_CoatCheck_True,attributes_AcceptsInsurance_False,...,attributes_RestaurantsAttire_casual,attributes_RestaurantsAttire_dressy,attributes_RestaurantsAttire_formal,attributes_WiFi_free,attributes_WiFi_no,attributes_WiFi_paid,attributes_BestNights_thursday_False,attributes_BestNights_thursday_True,attributes_BusinessParking_street_False,attributes_BusinessParking_street_True
0,34.426679,-119.711197,5.0,7.0,0.0,1.0,-1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,38.551126,-90.335695,3.0,15.0,1.0,1.0,-1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,32.223236,-110.880452,3.5,22.0,0.0,1.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,39.955505,-75.155564,4.0,80.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,40.338183,-75.471659,4.5,13.0,1.0,1.0,-1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150238,53.468419,-113.492054,3.0,13.0,1.0,1.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
150239,36.115118,-86.766925,4.0,5.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
150240,39.908707,-86.065088,3.5,8.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
150241,38.782351,-89.950558,4.0,24.0,1.0,1.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
150242,27.771002,-82.394910,4.5,9.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
import torch

In [ ]:
business_ids = business_df['business_id:ID']

In [ ]:
business_tensor_features = torch.tensor(business_features.values, dtype=torch.float64)

In [ ]:
torch.save(business_tensor_features, 'preprocessed/business_feature.pt')

In [ ]:
business_ids.to_csv('preprocessed/business_ids.csv', index=False)

# USER

In [7]:
import pandas as pd

user_df = pd.read_csv('neo4j_csvs/user.csv')

/var/folders/r3/89932hws5rg2xwsqck66y26r0000gp/T/ipykernel_3155/3844060479.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  user_df = pd.read_csv('neo4j_csvs/user.csv')

In [8]:
user_df

,user_id:ID,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,:LABEL
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,55,56,18,232,844,467,467,239,180,User
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"(2009, 2010, 2011, 2012, 2013, 2014, 2015, 201...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,184,157,251,1847,7054,3131,3131,1521,1946,User
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"(2009, 2010, 2011, 2012, 2013)","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,10,17,3,66,96,119,119,35,18,User
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"(2009, 2010, 2011)","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,1,6,2,12,16,26,26,10,9,User
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,NaN,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,0,0,0,1,1,0,0,0,0,User
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,2015-01-06 00:31:31,7,0,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,User
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,2016-06-14 07:20:52,0,0,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,User
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,2017-02-04 15:31:58,1,1,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,User
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,2011-01-14 00:29:08,0,0,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,User
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,2020-12-19 02:32:39,0,0,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,User

In [9]:
for column in user_df.columns:
    print(f' {column} has {len(user_df[user_df[column].notna()])} values not na')

 user_id:ID has 1987897 values not na
 name has 1987860 values not na
 review_count has 1987897 values not na
 yelping_since has 1987897 values not na
 useful has 1987897 values not na
 funny has 1987897 values not na
 cool has 1987897 values not na
 elite has 91198 values not na
 friends has 1109346 values not na
 fans has 1987897 values not na
 average_stars has 1987897 values not na
 compliment_hot has 1987897 values not na
 compliment_more has 1987897 values not na
 compliment_profile has 1987897 values not na
 compliment_cute has 1987897 values not na
 compliment_list has 1987897 values not na
 compliment_note has 1987897 values not na
 compliment_plain has 1987897 values not na
 compliment_cool has 1987897 values not na
 compliment_funny has 1987897 values not na
 compliment_writer has 1987897 values not na
 compliment_photos has 1987897 values not na
 :LABEL has 1987897 values not na

In [ ]:
for column in user_df.columns:
    print(f'{column} is a {user_df[column].dtype}')

user_id:ID is a object
name is a object
review_count is a int64
yelping_since is a object
useful is a int64
funny is a int64
cool is a int64
elite is a object
friends is a object
fans is a int64
average_stars is a float64
compliment_hot is a int64
compliment_more is a int64
compliment_profile is a int64
compliment_cute is a int64
compliment_list is a int64
compliment_note is a int64
compliment_plain is a int64
compliment_cool is a int64
compliment_funny is a int64
compliment_writer is a int64
compliment_photos is a int64
:LABEL is a object

In [ ]:
user_features = user_df[['review_count', 'useful', 'funny', 'cool', 'fans', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos']].astype(float)

In [ ]:
user_tensor_features = torch.tensor(user_features.values, dtype=torch.float64)

In [ ]:
user_tensor_features

tensor([[5.8500e+02, 7.2170e+03, 1.2590e+03,  ..., 4.6700e+02, 2.3900e+02,
         1.8000e+02],
        [4.3330e+03, 4.3091e+04, 1.3066e+04,  ..., 3.1310e+03, 1.5210e+03,
         1.9460e+03],
        [6.6500e+02, 2.0860e+03, 1.0100e+03,  ..., 1.1900e+02, 3.5000e+01,
         1.8000e+01],
        ...,
        [4.0000e+00, 1.0000e+00, 1.0000e+00,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [2.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [2.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00]], dtype=torch.float64)

In [ ]:
torch.save(user_tensor_features, 'preprocessed/user_feature.pt')
user_df['user_id:ID'].to_csv('preprocessed/user_ids.csv', index=False)

# REVIEW

In [33]:
import pandas as pd

review_df = pd.read_csv('neo4j_csvs/review.csv')

In [34]:
review_df

,:LABEL,review_id:ID,stars:float,useful:float,funny:float,cool:float,text,date
0,Review,14b7eabcf7250cac8884af3677c0b8af,3.0,0,0,0,If you decide to eat here just be aware it is ...,2018-07-07 22:09:11
1,Review,0baa75e21e14c71f057e9ad453082867,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,Review,af722966fda3d69d36a0ac9de0292e51,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,Review,50d32c50663bd2b424f57561a09cbfda,5.0,1,0,1,Wow! Yummy different delicious. Our favori...,2015-01-04 00:01:03
4,Review,a3383e594a74583aabcda6de8e3cb8a8,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...
6989553,Review,94e309064b7859538c514528e80db157,5.0,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6989554,Review,2d0aa703beebc1996c58711a6e4b04e3,5.0,2,1,2,This spot offers a great affordable east weeke...,2021-03-31 16:55:10
6989555,Review,eaac0ea0e1fb9aab851008575a49c98c,4.0,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6989556,Review,0dab15fea0a38d0f706afeed71945194,5.0,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6989557,Review,c8f2c9be46a45c9378399c7afd1066af,3.0,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [35]:
review_features = review_df[['stars:float', 'useful:float', 'funny:float', 'cool:float']].astype(float)

In [36]:
review_tensor_features = torch.tensor(review_features.values, dtype=torch.float64)

In [37]:
review_tensor_features

tensor([[ 3.,  0.,  0.,  0.],
        [ 5.,  1.,  0.,  1.],
        [ 3.,  0.,  0.,  0.],
        ...,
        [ 4.,  1.,  0.,  0.],
        [ 5.,  1.,  0.,  0.],
        [ 3., 10.,  3.,  7.]], dtype=torch.float64)

In [38]:
review_df['review_id:ID'].to_csv('preprocessed/review_ids.csv', index=False)

In [39]:
torch.save(review_tensor_features, 'preprocessed/review_features.pt')

# TIP

In [1]:
import pandas as pd
import torch
tip_df = pd.read_csv('neo4j_csvs/tip.csv')

In [2]:
tip_df

,tip_id:ID,:LABEL,text,date,compliment_count
0,cfcd208495d565ef66e7dff9f98764da,Tip,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,c4ca4238a0b923820dcc509a6f75849b,Tip,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,c81e728d9d4c2f636f067f89cc14862c,Tip,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,eccbc87e4b5ce2fe28308fd9f2a7baf3,Tip,Very decent fried chicken,2017-06-27 23:05:38,0
4,a87ff679a2f3e71d9181a67b7542122c,Tip,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
908873,8f46946986ed283cc02fbca21f7b97cb,Tip,Disappointed in one of your managers.,2021-09-11 19:18:57,0
908874,98cd2178e85f0f3ad347f403decf43d3,Tip,Great food and service.,2021-10-30 11:54:36,0
908875,d5dccb85561e35c20f3add3eac8522af,Tip,Love their Cubans!!,2021-11-05 13:18:56,0
908876,d07d908f0a182ea84cd0bb027f9c8b1b,Tip,Great pizza great price,2021-11-20 16:11:44,0
908877,fa994d34ccade73821d84b1bb308715f,Tip,Food is good value but a bit hot!,2021-12-07 22:30:00,0

In [3]:
tip_df.fillna('', inplace=True)

In [4]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained("LiYuan/amazon-review-sentiment-analysis")
model = AutoModelForSequenceClassification.from_pretrained("LiYuan/amazon-review-sentiment-analysis")

In [ ]:
from datasets import Dataset
dataset = Dataset.from_pandas(tip_df[['text']])
dataset = dataset.map(lambda examples: model(**tokenizer(examples["text"], padding=True, return_tensors="pt")), batched=True, batch_size=1024)

In [ ]:
tip_logits_stars = torch.tensor(dataset['logits'], dtype=torch.float64)
torch.save(tip_logits_stars, 'preprocessed/tip_logits_stars.pt')

In [6]:
tip_logits_stars = torch.load('preprocessed/tip_logits_stars.pt')

In [17]:
tip_logits_stars.shape

torch.Size([908878, 5])

In [9]:
tip_compliment = torch.tensor(tip_df['compliment_count'].values, dtype=torch.float64)

In [12]:
tip_compliment.sum()

tensor(11384., dtype=torch.float64)

In [15]:
tip_features = torch.cat((tip_compliment[:, None], tip_logits_stars), axis=1)

In [16]:
tip_features.shape

torch.Size([908878, 6])

In [18]:
torch.save(tip_features, 'preprocessed/tip_features.pt')

In [9]:
tip_df['tip_id:ID'].to_csv('preprocessed/tip_ids.csv', index=False)

# CATEGORIES

In [9]:
import pandas as pd
import torch

category_df = pd.read_csv('neo4j_csvs/categories.csv')

In [11]:
category_df[category_df['name'].isna()]

Empty DataFrame
Columns: [category_id:ID, name, :LABEL]
Index: []

In [21]:
from sentence_transformers import SentenceTransformer, util
model = SentenceTransformer('all-mpnet-base-v2')

In [15]:
category_df

                        category_id:ID                      name    :LABEL
0     c68f8fcd92fd90c9044c0d3e261ec384  Mobile Phone Accessories  Category
1     6fe53dc4393776783492cf1b4666578a           Medical Centers  Category
2     ac92e7dd1ea2adde16074a436d532775         Art Space Rentals  Category
3     61395cfd542de6b1d75066f431f968a7       Adult Entertainment  Category
4     939390208410ea7f261ef9ba06ab290d          Airport Shuttles  Category
...                                ...                       ...       ...
1306  5053eab76b3de6230b4e4d5a7308e228                   Beaches  Category
1307  604ab76cc20938aabe8193b5b7c7f3b1               Title Loans  Category
1308  f15f48cbbc7a8aea4e8f226899a8a5fd   Prenatal/Perinatal Care  Category
1309  b397edd35777a9f6036119e6ced96ff6                  Armenian  Category
1310  00f6fc6048f7fb601e7bae3c43ec81ee               Art Museums  Category

[1311 rows x 3 columns]

In [28]:
category_features = model.encode(category_df['name'].to_list(), convert_to_numpy=False, convert_to_tensor=True)

In [29]:
category_features.shape

torch.Size([1311, 768])

In [30]:
torch.dot(category_features[2], category_features[1310])

tensor(0.6070)

In [32]:
torch.dot(category_features[0], category_features[2])

tensor(0.0793)

In [40]:
torch.save(category_features, 'preprocessed/category_features.pt')
category_df['category_id:ID'].to_csv('preprocessed/category_ids.csv', index=False)

# RELS

## category_business_rels

In [31]:
import pandas as pd
import torch 
business_ids = pd.read_csv('preprocessed/business_ids.csv')
category_ids = pd.read_csv('preprocessed/category_ids.csv')

business_ids['business_pos_id'] = business_ids.index
category_ids['category_pos_id'] = category_ids.index

category_business_rels = pd.read_csv('neo4j_csvs/category_business_rels.csv')

In [32]:
category_business_rels

,:START_ID,:END_ID,:TYPE
0,cc3c6f99cdb7d899625e4e7b8d171a06,f77ccbdb203c19d3d52b12a85f33faf5,HAS_CATEGORY
1,cc3c6f99cdb7d899625e4e7b8d171a06,5dc2a02d462a6822a49f8419cdfcf29f,HAS_CATEGORY
2,cc3c6f99cdb7d899625e4e7b8d171a06,957bd1f3ec5f6e976c4e82257f55d1fb,HAS_CATEGORY
3,cc3c6f99cdb7d899625e4e7b8d171a06,5df806cd4d51dddbb591ad8df0fd4c42,HAS_CATEGORY
4,cc3c6f99cdb7d899625e4e7b8d171a06,6e3a69b2ebe159d183c7a7b83d0bf564,HAS_CATEGORY
...,...,...,...
668587,abb853eceedb9401aba67a2897136eff,af4b3609b5a35bb1d3796fac29e1c7b6,HAS_CATEGORY
668588,d367ac4f22db972bce70ab8fe5a50e2b,b11bd467d57c86f09435a96a212e89be,HAS_CATEGORY
668589,d367ac4f22db972bce70ab8fe5a50e2b,4075aad3e4473e2827bc6988e03a6e90,HAS_CATEGORY
668590,d367ac4f22db972bce70ab8fe5a50e2b,71b82d588f8ca5360dd8f79f4452f61a,HAS_CATEGORY
668591,d367ac4f22db972bce70ab8fe5a50e2b,ebde415c5c05abbbba38a5b1febaef02,HAS_CATEGORY

In [35]:
category_business_rels = pd.merge(pd.merge(category_business_rels, business_ids, left_on=':START_ID', right_on='business_id:ID'), category_ids, left_on=':END_ID', right_on='category_id:ID')

In [36]:
category_business_rels

,:START_ID,:END_ID,:TYPE,business_id:ID,business_pos_id,category_id:ID,category_pos_id
0,cc3c6f99cdb7d899625e4e7b8d171a06,f77ccbdb203c19d3d52b12a85f33faf5,HAS_CATEGORY,cc3c6f99cdb7d899625e4e7b8d171a06,0,f77ccbdb203c19d3d52b12a85f33faf5,16
1,81df37c9b8deb90d4e1b284badd774c9,f77ccbdb203c19d3d52b12a85f33faf5,HAS_CATEGORY,81df37c9b8deb90d4e1b284badd774c9,43,f77ccbdb203c19d3d52b12a85f33faf5,16
2,5aafd35bed512fe68d3dd0224c296677,f77ccbdb203c19d3d52b12a85f33faf5,HAS_CATEGORY,5aafd35bed512fe68d3dd0224c296677,57,f77ccbdb203c19d3d52b12a85f33faf5,16
3,2a3d256161b7e6bfc08a9ccd627d1b0b,f77ccbdb203c19d3d52b12a85f33faf5,HAS_CATEGORY,2a3d256161b7e6bfc08a9ccd627d1b0b,111,f77ccbdb203c19d3d52b12a85f33faf5,16
4,2b4e125b6407e78b0408eec736f1bee3,f77ccbdb203c19d3d52b12a85f33faf5,HAS_CATEGORY,2b4e125b6407e78b0408eec736f1bee3,128,f77ccbdb203c19d3d52b12a85f33faf5,16
...,...,...,...,...,...,...,...
668587,1f85974b4318cb075642220619d518d3,c8f6fb6fa6aa2834662765d348e71352,HAS_CATEGORY,1f85974b4318cb075642220619d518d3,145345,c8f6fb6fa6aa2834662765d348e71352,368
668588,dc03804d7659a20ea1a1660932db82a9,a3c4c88c9245214749bb372e01d71606,HAS_CATEGORY,dc03804d7659a20ea1a1660932db82a9,146006,a3c4c88c9245214749bb372e01d71606,1234
668589,c0bb9b234db19753245f8e3849ce56e1,f53adc14d8ff6e7266e75fca25bccfb2,HAS_CATEGORY,c0bb9b234db19753245f8e3849ce56e1,147910,f53adc14d8ff6e7266e75fca25bccfb2,809
668590,a09e7d9b752fb25c2f61fc9e44d76ad4,9b967506b17805592f7a789a3580e3d4,HAS_CATEGORY,a09e7d9b752fb25c2f61fc9e44d76ad4,148113,9b967506b17805592f7a789a3580e3d4,222
668591,01e07c0f52c803d91bdaebf7e0d1d1c9,0f229ef7b325bf3e362c2f9d01099ce7,HAS_CATEGORY,01e07c0f52c803d91bdaebf7e0d1d1c9,149299,0f229ef7b325bf3e362c2f9d01099ce7,406

In [37]:
category_business_rels_tensor = torch.tensor(category_business_rels[['business_pos_id', 'category_pos_id']].values, dtype=torch.float64)

In [38]:
category_business_rels_tensor.shape

torch.Size([668592, 2])

In [39]:
torch.save(category_business_rels_tensor, 'preprocessed/business_category.pt')

## review_business_rels

In [1]:
import pandas as pd
import torch 
business_ids = pd.read_csv('preprocessed/business_ids.csv')
review_ids = pd.read_csv('preprocessed/review_ids.csv')

business_ids['business_pos_id'] = business_ids.index
review_ids['review_pos_id'] = review_ids.index

review_business_rels = pd.read_csv('neo4j_csvs/review_business_rels.csv')

In [2]:
review_business_rels = pd.merge(pd.merge(review_business_rels, review_ids, left_on=':START_ID', right_on='review_id:ID'), business_ids, left_on=':END_ID', right_on='business_id:ID')

In [3]:
review_business_rels

,:START_ID,:END_ID,:TYPE,review_id:ID,review_pos_id,business_id:ID,business_pos_id
0,14b7eabcf7250cac8884af3677c0b8af,dad4fb57fcb08795f8ecf02cf2ee3136,REVIEW_BUSINESS,14b7eabcf7250cac8884af3677c0b8af,0,dad4fb57fcb08795f8ecf02cf2ee3136,1867
1,49675254e633c9e6e267f7e93a00391f,dad4fb57fcb08795f8ecf02cf2ee3136,REVIEW_BUSINESS,49675254e633c9e6e267f7e93a00391f,6079,dad4fb57fcb08795f8ecf02cf2ee3136,1867
2,12b4d2f4ebd106cabcaa846c431afc92,dad4fb57fcb08795f8ecf02cf2ee3136,REVIEW_BUSINESS,12b4d2f4ebd106cabcaa846c431afc92,6910,dad4fb57fcb08795f8ecf02cf2ee3136,1867
3,b2937a55ad1b9b641f543dfbe3800b53,dad4fb57fcb08795f8ecf02cf2ee3136,REVIEW_BUSINESS,b2937a55ad1b9b641f543dfbe3800b53,6926,dad4fb57fcb08795f8ecf02cf2ee3136,1867
4,aead22cb64103168af3a17d6eb1b830e,dad4fb57fcb08795f8ecf02cf2ee3136,REVIEW_BUSINESS,aead22cb64103168af3a17d6eb1b830e,13377,dad4fb57fcb08795f8ecf02cf2ee3136,1867
...,...,...,...,...,...,...,...
6989553,99c34f40a57e3c694cc043404fcea534,a9d912025f183a1f7485e525970fcee4,REVIEW_BUSINESS,99c34f40a57e3c694cc043404fcea534,6949431,a9d912025f183a1f7485e525970fcee4,149287
6989554,96536d5a11d86e6a35b35f2b8cb53dd8,a9d912025f183a1f7485e525970fcee4,REVIEW_BUSINESS,96536d5a11d86e6a35b35f2b8cb53dd8,6955366,a9d912025f183a1f7485e525970fcee4,149287
6989555,2d4b2f41090fd3f464e8266610aaed81,a9d912025f183a1f7485e525970fcee4,REVIEW_BUSINESS,2d4b2f41090fd3f464e8266610aaed81,6959373,a9d912025f183a1f7485e525970fcee4,149287
6989556,5c9b4925ff1e9b81dd5e587b81c4fcb2,a9d912025f183a1f7485e525970fcee4,REVIEW_BUSINESS,5c9b4925ff1e9b81dd5e587b81c4fcb2,6964541,a9d912025f183a1f7485e525970fcee4,149287
6989557,22d45cf64a1081c381fc80776376e098,a9d912025f183a1f7485e525970fcee4,REVIEW_BUSINESS,22d45cf64a1081c381fc80776376e098,6970445,a9d912025f183a1f7485e525970fcee4,149287

In [4]:
review_business_rels_tensor = torch.tensor(review_business_rels[['review_pos_id', 'business_pos_id']].values, dtype=torch.float64)
torch.save(review_business_rels_tensor, 'preprocessed/review_business.pt')

## tip_business_rels

In [1]:
import pandas as pd
import torch 
business_ids = pd.read_csv('preprocessed/business_ids.csv')
tip_ids = pd.read_csv('preprocessed/tip_ids.csv')

business_ids['business_pos_id'] = business_ids.index
tip_ids['tip_pos_id'] = tip_ids.index

tip_business_rels = pd.read_csv('neo4j_csvs/tip_business_rels.csv')

In [2]:
tip_business_rels = pd.merge(pd.merge(tip_business_rels, tip_ids, left_on=':START_ID', right_on='tip_id:ID'), business_ids, left_on=':END_ID', right_on='business_id:ID')

In [3]:
tip_business_rels

,:START_ID,:END_ID,:TYPE,tip_id:ID,tip_pos_id,business_id:ID,business_pos_id
0,cfcd208495d565ef66e7dff9f98764da,92f5e8264da1e4858219081ec7798606,TIP_BUSINESS,cfcd208495d565ef66e7dff9f98764da,0,92f5e8264da1e4858219081ec7798606,108301
1,bf33a114d51a047b433ddfcd6542e2a6,92f5e8264da1e4858219081ec7798606,TIP_BUSINESS,bf33a114d51a047b433ddfcd6542e2a6,15521,92f5e8264da1e4858219081ec7798606,108301
2,9558be539e988fbb9df02fcd4dffbad7,92f5e8264da1e4858219081ec7798606,TIP_BUSINESS,9558be539e988fbb9df02fcd4dffbad7,41034,92f5e8264da1e4858219081ec7798606,108301
3,65fd95b22c5680766c110f8d1ab21a4b,92f5e8264da1e4858219081ec7798606,TIP_BUSINESS,65fd95b22c5680766c110f8d1ab21a4b,65826,92f5e8264da1e4858219081ec7798606,108301
4,872e3647b4aa943e20f8c16e100610d8,92f5e8264da1e4858219081ec7798606,TIP_BUSINESS,872e3647b4aa943e20f8c16e100610d8,79695,92f5e8264da1e4858219081ec7798606,108301
...,...,...,...,...,...,...,...
908873,5d844a2964f4c11d8a9a43cc3c982980,1209a0f080e90e253075fa6f7f5799ff,TIP_BUSINESS,5d844a2964f4c11d8a9a43cc3c982980,908738,1209a0f080e90e253075fa6f7f5799ff,4389
908874,f4750166ff3b993b9eea3fa990ff3360,1002aa97a59be0738259414b0242866d,TIP_BUSINESS,f4750166ff3b993b9eea3fa990ff3360,908741,1002aa97a59be0738259414b0242866d,145912
908875,d992610f546d0a60e3510896aea4ddc0,f61a97790c06e73839ccaf1b1fb8cf81,TIP_BUSINESS,d992610f546d0a60e3510896aea4ddc0,908752,f61a97790c06e73839ccaf1b1fb8cf81,59039
908876,d2b8b2ddc5c190ce4b0c0429a19acbef,690ac859f847e3bf53d0c962fd8d2835,TIP_BUSINESS,d2b8b2ddc5c190ce4b0c0429a19acbef,908804,690ac859f847e3bf53d0c962fd8d2835,53632
908877,e1fe7c494e45826d29abf0d5510c5c96,d04ddbcff442fff39477c05600caa814,TIP_BUSINESS,e1fe7c494e45826d29abf0d5510c5c96,908859,d04ddbcff442fff39477c05600caa814,142427

In [5]:
tip_business_rels_tensor = torch.tensor(tip_business_rels[['tip_pos_id', 'business_pos_id']].values, dtype=torch.float64)
torch.save(tip_business_rels_tensor, 'preprocessed/tip_business.pt')

## user_review_rels

In [16]:
import pandas as pd
import torch 
user_ids = pd.read_csv('preprocessed/user_ids.csv')
review_ids = pd.read_csv('preprocessed/review_ids.csv')

user_ids['user_pos_id'] = user_ids.index
review_ids['review_pos_id'] = review_ids.index

review_user_rels = pd.read_csv('neo4j_csvs/user_review_rels.csv')

In [17]:
user_review_rels = pd.merge(pd.merge(review_user_rels, user_ids, left_on=':START_ID', right_on='user_id:ID'), review_ids, left_on=':END_ID', right_on='review_id:ID')

In [18]:
user_review_rels

,:START_ID,:END_ID,:TYPE,user_id:ID,user_pos_id,review_id:ID,review_pos_id
0,mh_-eMZ6K5RLWhZyISBhwA,14b7eabcf7250cac8884af3677c0b8af,USER_REVIEW,mh_-eMZ6K5RLWhZyISBhwA,124234,14b7eabcf7250cac8884af3677c0b8af,0
1,mh_-eMZ6K5RLWhZyISBhwA,a7314f2acfc11c4531ddbd77effa97d6,USER_REVIEW,mh_-eMZ6K5RLWhZyISBhwA,124234,a7314f2acfc11c4531ddbd77effa97d6,45632
2,mh_-eMZ6K5RLWhZyISBhwA,332c6c81bd8b3fcb9566442add52f2b0,USER_REVIEW,mh_-eMZ6K5RLWhZyISBhwA,124234,332c6c81bd8b3fcb9566442add52f2b0,264558
3,mh_-eMZ6K5RLWhZyISBhwA,6b36c9710154c217adfeb672c9d29277,USER_REVIEW,mh_-eMZ6K5RLWhZyISBhwA,124234,6b36c9710154c217adfeb672c9d29277,822507
4,mh_-eMZ6K5RLWhZyISBhwA,02d9398a829783005f777b5570d5eabd,USER_REVIEW,mh_-eMZ6K5RLWhZyISBhwA,124234,02d9398a829783005f777b5570d5eabd,925818
...,...,...,...,...,...,...,...
6989553,Is5IWDXWtqVMCVtedjJIQQ,181d9374ca3a48b98c957c2a1fdbbb99,USER_REVIEW,Is5IWDXWtqVMCVtedjJIQQ,1849913,181d9374ca3a48b98c957c2a1fdbbb99,6989525
6989554,99_EbpwCcCRAa66YgorrKA,a0383d50dd7cf0720088367c7008a14c,USER_REVIEW,99_EbpwCcCRAa66YgorrKA,1908824,a0383d50dd7cf0720088367c7008a14c,6989534
6989555,-AkziDwQ8hv2COTDBBUpig,7c3f4650cc068c25378d70ff768cacff,USER_REVIEW,-AkziDwQ8hv2COTDBBUpig,1897371,7c3f4650cc068c25378d70ff768cacff,6989541
6989556,s67G457QlHSvk5RjOMN91w,13ecf95eba8387b2bbbad2a8f9a26302,USER_REVIEW,s67G457QlHSvk5RjOMN91w,1969447,13ecf95eba8387b2bbbad2a8f9a26302,6989546
6989557,_XVdmFWSgTN6YlojUxixTA,2eb251fed08ed248c5e1a8b68f238ed5,USER_REVIEW,_XVdmFWSgTN6YlojUxixTA,1938727,2eb251fed08ed248c5e1a8b68f238ed5,6989551

In [19]:
user_review_rels_tensor = torch.tensor(user_review_rels[['user_pos_id', 'review_pos_id']].values, dtype=torch.float64)
torch.save(user_review_rels_tensor, 'preprocessed/user_review.pt')

## user_tip_rels

In [22]:
import pandas as pd
import torch 
user_ids = pd.read_csv('preprocessed/user_ids.csv')
tip_ids = pd.read_csv('preprocessed/tip_ids.csv')

user_ids['user_pos_id'] = user_ids.index
tip_ids['tip_pos_id'] = tip_ids.index

user_tip_rels = pd.read_csv('neo4j_csvs/user_tip_rels.csv')

In [23]:
user_tip_rels = pd.merge(pd.merge(user_tip_rels, user_ids, left_on=':START_ID', right_on='user_id:ID'), tip_ids, left_on=':END_ID', right_on='tip_id:ID')

In [24]:
user_tip_rels

,:START_ID,:END_ID,:TYPE,user_id:ID,user_pos_id,tip_id:ID,tip_pos_id
0,AGNUgVwnZUey3gcPCJ76iw,cfcd208495d565ef66e7dff9f98764da,USER_TIP,AGNUgVwnZUey3gcPCJ76iw,10965,cfcd208495d565ef66e7dff9f98764da,0
1,AGNUgVwnZUey3gcPCJ76iw,c6a024f688cd57cf6fd4495dbc50e353,USER_TIP,AGNUgVwnZUey3gcPCJ76iw,10965,c6a024f688cd57cf6fd4495dbc50e353,11953
2,AGNUgVwnZUey3gcPCJ76iw,9c156653d889d37811915236feed8660,USER_TIP,AGNUgVwnZUey3gcPCJ76iw,10965,9c156653d889d37811915236feed8660,13736
3,AGNUgVwnZUey3gcPCJ76iw,12cfbd88070f29ee643ba6a9d614f79b,USER_TIP,AGNUgVwnZUey3gcPCJ76iw,10965,12cfbd88070f29ee643ba6a9d614f79b,15082
4,AGNUgVwnZUey3gcPCJ76iw,cd9dee20024dab5622a853bfb3f1bcfc,USER_TIP,AGNUgVwnZUey3gcPCJ76iw,10965,cd9dee20024dab5622a853bfb3f1bcfc,15182
...,...,...,...,...,...,...,...
908873,cXfyVy34hqDgygyJBTme4w,3e489bd0206447d81b0bae76cacc3e0e,USER_TIP,cXfyVy34hqDgygyJBTme4w,1978757,3e489bd0206447d81b0bae76cacc3e0e,908868
908874,Apfz4xUeBOObgXkOhOnMxQ,d169b893468d622e8d9669bf279211b2,USER_TIP,Apfz4xUeBOObgXkOhOnMxQ,1809806,d169b893468d622e8d9669bf279211b2,908869
908875,2-vAo2UfkD7QHA5TG8kwmg,c2a05eeee3fc2e30f0a31fca177feb4b,USER_TIP,2-vAo2UfkD7QHA5TG8kwmg,1890509,c2a05eeee3fc2e30f0a31fca177feb4b,908870
908876,5hJR7ljJbhFgOaLi8iz5pQ,1d8e6a581d5d039c8f9cd414e7654873,USER_TIP,5hJR7ljJbhFgOaLi8iz5pQ,1866491,1d8e6a581d5d039c8f9cd414e7654873,908871
908877,v48Spe6WEpqehsF2xQADpg,d5dccb85561e35c20f3add3eac8522af,USER_TIP,v48Spe6WEpqehsF2xQADpg,1981378,d5dccb85561e35c20f3add3eac8522af,908875

In [25]:
user_tip_rels_tensor = torch.tensor(user_tip_rels[['user_pos_id', 'tip_pos_id']].values, dtype=torch.float64)
torch.save(user_tip_rels_tensor, 'preprocessed/user_tip.pt')

## user_user_rels

In [33]:
import pandas as pd
import torch 
user_ids = pd.read_csv('preprocessed/user_ids.csv')

user_ids['user_pos_id'] = user_ids.index

user_user_rels = pd.read_csv('neo4j_csvs/user_user_rels.csv')

In [34]:
user_user_rels = pd.merge(pd.merge(user_user_rels, user_ids, left_on=':START_ID', right_on='user_id:ID'), user_ids, left_on=':END_ID', right_on='user_id:ID', suffixes=('_start', '_dest'))

In [35]:
user_user_rels

,:START_ID,:END_ID,:TYPE,user_id:ID_start,user_pos_id_start,user_id:ID_dest,user_pos_id_dest
0,qVc8ODYU5SZjKXVBgXdI7w,NSCy54eWehBJyZdG2iE84w,FRIEND_OF,qVc8ODYU5SZjKXVBgXdI7w,0,NSCy54eWehBJyZdG2iE84w,1625
1,ewq8eLcIKwx1I0DUBawbLw,NSCy54eWehBJyZdG2iE84w,FRIEND_OF,ewq8eLcIKwx1I0DUBawbLw,422425,NSCy54eWehBJyZdG2iE84w,1625
2,qPGFtE9Qp7ABOoNJSXGuLg,NSCy54eWehBJyZdG2iE84w,FRIEND_OF,qPGFtE9Qp7ABOoNJSXGuLg,1392263,NSCy54eWehBJyZdG2iE84w,1625
3,qVc8ODYU5SZjKXVBgXdI7w,V3CFQjG7MTynQ99w_Tg3gg,FRIEND_OF,qVc8ODYU5SZjKXVBgXdI7w,0,V3CFQjG7MTynQ99w_Tg3gg,3493
4,qVc8ODYU5SZjKXVBgXdI7w,GCm8E-vatg1JVje_1SJkFA,FRIEND_OF,qVc8ODYU5SZjKXVBgXdI7w,0,GCm8E-vatg1JVje_1SJkFA,4319
...,...,...,...,...,...,...,...
437923,nND-8ofeBkBJu9Baaiv8sw,0_clQ5PDy7dqaD_oAnFznw,FRIEND_OF,nND-8ofeBkBJu9Baaiv8sw,1816971,0_clQ5PDy7dqaD_oAnFznw,1975629
437924,7fDaMcKI9Lfo7CbTRUP_vg,8Wt9dJBPEfDwSRPNTGONXA,FRIEND_OF,7fDaMcKI9Lfo7CbTRUP_vg,1616037,8Wt9dJBPEfDwSRPNTGONXA,1976643
437925,LQvRLtIFDDeR3o626lz72g,Czd7PrudBZxVluRXNYU8yA,FRIEND_OF,LQvRLtIFDDeR3o626lz72g,1607200,Czd7PrudBZxVluRXNYU8yA,1976977
437926,Ujrn2zyU8gEYLLfYxn8pfA,01rGw2vwmPhv43V66gq4DA,FRIEND_OF,Ujrn2zyU8gEYLLfYxn8pfA,1055750,01rGw2vwmPhv43V66gq4DA,1977601
437927,vCTGXk-f3x2Lw3WlITfVZA,8epZuyp_eWhSpIhsB3bONg,FRIEND_OF,vCTGXk-f3x2Lw3WlITfVZA,1604725,8epZuyp_eWhSpIhsB3bONg,1982989

In [36]:
user_user_rels_tensor = torch.tensor(user_user_rels[['user_pos_id_start', 'user_pos_id_dest']].values, dtype=torch.float64)
torch.save(user_user_rels_tensor, 'preprocessed/user_user.pt')